

.app-header{
    background-color: var(--bg-header);
    padding: 0.2rem;
    margin-bottom: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header h1{ 
    color: var(--text-secondary);
    font-size: 1.7rem;
    margin-left:20px ; 
}

.app-header button{
    margin-right: 10px;
}

@media (min-width: 490px) {
    .app-header h1{
        font-size: 2rem;
    }
}

@media (min-width: 670px) {
    .app-header h1{ 
        font-size: 2.3rem;
    }
}