

.jira-connection-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connection-status, 
.connection-prompt{
        background-color: var(--bg-card);
        padding: 1.5rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid var(--border) ;
}

.connect-btn{
    margin-bottom: 1rem;
}



.success-message,
.error-message{
    display: flex;
    align-items: center;
    justify-content: center;
}

