


body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
    margin: 0;
    background-color: var(--bg-main);
    color: var(--text-primary);
    
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}