button {
    background-color: var(--btn-primary);
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-family:'Courier New', Courier, monospace;
    font-optical-sizing: auto;    
    font-style: normal;
    font-weight:600;
    color: black; 


}

button:hover {
	transition: 0.3s;
    background-color: var(--btn-hover);
}


input, select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family:'Courier New', Courier, monospace;
    font-optical-sizing: auto;    
    font-style: normal;
    font-weight: 400;
};


@media (min-width: 670px){
    button{
        font-weight: 400;
    }
}

