button {
    background-color: var(--btn-primary);
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text-primary); 
    font-size: 1rem;
}

button:hover {
	transition: 0.3s;
    background-color: var(--btn-hover);
}


input, select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--text-primary)
};


@media (min-width: 670px){
    button{
        font-weight: 400;
    }
}

