:root {

    --bg-main: #0F172A;
    --text-logo: #E5E7EB;
    --bg-header: #020617;
    --btn-primary: #2563EB;
    --btn-hover: #1D4ED8;
    --btn-active: #1E40AF;

    --success: #16A34A;
    --danger: #DC2626;

    --bg-card: #111827;

    --text-primary: #E5E7EB;
    --text-secondary: #9CA3AF;


    --accent: #F59E0B;

--info: #8B5CF6;

--mustard: #FFBD00;






}